@media (max-width: 1338px) {
    .girl__bg {
      display: none;
    }
  }
  @media (max-width: 479.9px) {
    .girl {
      margin-bottom: 10rem;
    }
    .girl__text-text {
      max-width: 100%;
      padding-left: 5rem;
    }
    .girl__wrap {
      flex-direction: column;
    }
    .girl__img {
      max-width: 100%;
    }
    .girl__stat {
      margin-top: 5rem;
      max-width: 100%;
    }
    .girl__stat__numbers {
      display: flex;
      justify-content: center;
    }
    .girl__stat__numbers-item {
      padding-top: 5rem;
      padding-left: 10rem;
    }
    .girl__stat-text {
      position: relative;
      z-index: 1;
      padding: 5rem;
      font-size: 5rem;
    }
    .girl__stat-signature {
      font-size: 5rem;
    }
    .item__sum {
      font-size: 14rem;
    }
    .item__text {
      font-size: 6rem;
    }
  }
  .contacts {
    position: relative;
    margin-top: 15rem;
  }
  .contacts__wrap {
    display: flex;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .contacts__discription {
    flex: 1 1 35%;
  }
  .contacts__form {
    flex: 1 1 65%;
    border: 1px solid #486958;
  }
  .contacts__form__forms {
    padding: 5rem;
    display: flex;
    flex-direction: column;
  }
  .contacts__text {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.5;
    color: #486958;
  }
  .contacts__text::before {
    position: absolute;
    content: "";
    top: 20rem;
    left: 15rem;
    width: 13.5rem;
    height: 0.5rem;
    background-color: #58a9a5;
  }
  .contacts__text::after {
    position: absolute;
    content: "";
    top: 21.5rem;
    left: 15rem;
    width: 13.5rem;
    height: 0.5rem;
    background-color: #58a9a5;
  }
  .contacts__button {
    position: absolute;
    bottom: 5rem;
    right: 18rem;
  }
  .contacts input {
    position: relative;
    height: 12rem;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.5;
    color: #486958;
    border: none;
    border-bottom: 0.15rem solid #000000;
  }
  .contacts .disc {
    position: relative;
    height: 21rem;
    border-bottom: none;
  }
  
  @media (max-width: 479.9px) {
    .contacts {
      position: relative;
    }
    .contacts__wrap {
      flex-direction: column;
      margin-top: 10rem;
      margin-bottom: 10rem;
    }
    .contacts__discription {
      text-align: center;
    }
    .contacts__form {
      margin-top: 5rem;
    }
    .contacts__text {
      font-size: 5rem;
    }
    .contacts__text::before {
      display: none;
    }
    .contacts__text::after {
      display: none;
    }
    .contacts__button {
      position: absolute;
      bottom: 5rem;
      right: 18rem;
    }
    .contacts input {
      height: 15rem;
      font-size: 5rem;
    }
  }